<!DOCTYPE html>
<html>
<head>
    <meta name="viewport", content="width=device-width, initial-scale=.75"/>
    <title>
Admin Board
    </title>
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <link rel="stylesheet" href="/css/lgscreen.css" type="text/css"/>
</head>

<body>
<div class="body-content">
{{>header}}
</div>


{{>footer}}
    
</body>
</html>