<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
    <meta name="description" content="Supreme Dlo League">
    <meta name="author" content="Benjamin Possible">
    <meta name="keywords" content="Supreme, supreme league, ftg, fun games, Dlo, Dls, League, dream league, soccer, virtual games, games, football, nigerian leagues, nigerian dream league online, online games">
    <meta name="viewport" content="width=device-width, initial-scale=.75"/>
    <title>
        Supreme League   
    </title>
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <link rel="stylesheet" href="/css/lgscreen.css" type="text/css"/>
    <link rel="icon" href="/img/spm-logo.png" type="image/png"/>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7793615007525031"
     crossorigin="anonymous"></script>
    <style>
    .no-result {
    height: 100%;
    font-size: 200%;
    background: rgba(108, 109, 108, 0.5);
    border: 1px solid #000;
}
.no-result div {
    width: 50%;
    height: 50px;
}
    </style>
</head>

<body>
       {{>header}}
    <div class="body-content">
    <h1 align="center">
        {{title}}
    </h1> 
        
<div class="home-tab rel">
    <div class="table-tab rel max-percent">
    <table id='table' class="centered max-percent curved-edges box-shadow">
        <thead class="curved-edges">
            <tr class="curved-edges">
                <td colspan="10">
                    <h2 class="season">Standings | Season <span id="sn-display"></span> </h2>
                </td>
            </tr>
            <tr>
                <td>P</td>
                <td>Team</td>
                <td>P</td>
                <td>W</td>
                <td>D</td>
                <td>L</td>
                <td>GF</td>
                <td>GA</td>
                <td>GD</td>
                <td>Pts</td>
            </tr>
        </thead>
        <tbody id='tbody'>

        </tbody>
    </table>
    </div>
    {{!-- <div class="image"></div> --}}
<hr>
    <div class="result-tab rel max-percent no-shrink curved-edges">
<div id="result-pane" class="rel flex flex-column box-shadow margin-auto curved-edges">
    <div id="result-head" class="max-percent">Results | Match day <span class="match-day"></span></div>
    <div id="results" class="rel">
 {{!-- <div class="match">
            <button class="home-team">home-team</button>
            <button class="home-score">0</button>
            <button class="away-score">0</button>
            <button class="away-team">away-team</button>
     </div> --}}
     {{!-- 441130 --}}
    </div>
    <div id="result-foot" class="max-percent">Supreme League</div>
</div>
    </div>

</div>
       






    </div>
    {{>footer}}    
    <script src="/js/app.js"></script>
</body>
</html>