<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Supreme Dlo League">
    <meta name="author" content="Benjamin Possible">
    <meta name="keywords" content="Supreme, supreme league, ftg, fun games, Dlo, Dls, League, dream league, soccer, virtual games, games, football, nigerian leagues, nigerian dream league online, online games">
    <meta name="viewport" content="width=device-width, initial-scale=.75"/>
    <link rel="icon" href="/img/spm-logo.png" type="image/png"/>
    <title>
        Supreme League
    </title>
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <link rel="stylesheet" href="/css/league-style.css" type="text/css"/>
    <link rel="stylesheet" href="/css/lgscreen.css" type="text/css"/>
    <style>
    
    </style>
</head>

<body>
   {{>header}}
    <div class="body-content">
    <h1 align="center">
        {{title}}
    </h1> 
         <div class="switch">
            <div class="switch-left rel">Season</div>
            <div class="switch-right rel">
               
            </div>
        </div>
       <div class="league-main-section flex" id="league-ms">
           
    <div>
    <table id='table' >
        <thead>
            <tr>
                <td colspan="10">
                    <h2 class="season">Standings | Season <span id="sn-display"></span> </h2>
                </td>
            </tr>
            <tr>
                <td>P</td>
                <td>Team</td>
                <td>P</td>
                <td>W</td>
                <td>D</td>
                <td>L</td>
                <td>GF</td>
                <td>GA</td>
                <td>GD</td>
                <td>Pts</td>
            </tr>
        </thead>
        <tbody id='tbody'>

        </tbody>
    </table>
       </div>

         <div align="center" class="coronation">
                    <div class="coronation-head">
                        <div class="coronation-title"><h1>The King</h1></div>
                        <div class="crown"><img id="crown"/></div>
                    </div>
                    <div class="coronation-body"></div>
                </div>
       </div>
       <hr>

<div class="result-pane">
    <div class="switch">
            <div class="switch-left-result rel">Match Days</div>
            <div class="switch-right-result rel">
               
            </div>
        </div>
         <h2>Match Day <span id="day-display"></span></h2>
</div>
<div class="league-results-pane rel max-percent">
    {{!-- <div align="center" class="league-result-match flex rel max-percent margin-auto">
        <div class="league-result-pane rel flex margin-auto">
            <div class="leg abs margin-auto">1st Leg</div>
        <div class="home-team-name rel margin-auto">
            Possible
            <img src="/img/possible.png" alt="" class="team-logos home-logo abs margin-auto">
        </div>
        <div class="home-team-score rel margin-auto">0</div>
        <div class="away-team-score rel margin-auto">0</div>
        <div class="away-team-name rel margin-auto">
            D professor
            <img src="/img/inside life.png" alt="" class="team-logos away-logo abs margin-auto">
        </div>
        </div>
    </div> --}}
    {{!-- parting --}}
</div>
<div class="pagination flex rel margin-auto max-percent">
    <div class="pages align-self-center flex rel margin-auto">
        <button disabled class="pager no-shrink margin-auto rel">Pages</button>
        <button class="page no-shrink margin-auto rel">1</button>
        <button class="page no-shrink margin-auto rel">2</button>
        <button class="page no-shrink margin-auto rel">3</button>
        <button class="page no-shrink margin-auto rel">4</button>
    </div>
</div>


    </div>
    {{>footer}}
    <script src="../js/league-app.js">

    </script>
</body>
</html>