<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
    <meta name="description" content="Supreme Dlo champions League">
    <meta name="author" content="Benjamin Possible">
    <meta name="keywords" content="Supreme, supreme league, champions league, scl, supreme champions league, ftg, fun games, Dlo, Dls, League, dream league, soccer, virtual games, games, football, nigerian leagues, nigerian dream league online, online games">
    <meta name="viewport" content="width=device-width, initial-scale=.75"/>
    <title>
Supreme Champions League
    </title>
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <link rel="stylesheet" href="/css/lgscreen.css" type="text/css"/>
    <link rel="stylesheet" href="/css/scl-style.css" type="text/css"/>
    <style>
    
    </style>
</head>

<body>
    <div class="body-content">
        {{>header}} 
        <div class="switch">
            <div class="switch-left rel">Season</div>
            <div class="switch-right rel">
            
            </div>
        </div>
    <div class="scl-main-section rel" id="scl-ms">
            <h2>Season <span id="scl-id"></span> <span class="sn-avail-info"></span></h2>
            <div class="stages">
                <button class="st-btn" id="1"> Group Stage </button>
                <button class="st-btn" id="2"> Quarter Finals </button>
                <button class="st-btn" id="3"> Semi Finals </button>
                <button class="st-btn" id="4"> Finals </button>
            </div>
            <div class="scroller rel">
                <div class="container rel flex" dir="ltr">
            <div align="center" class="rel stage no-shrink" id="group-stage">
                <h1 class="stage-head">Group Stage</h1>
            <div class="row rel table-row">
                <table  class="table rel">
                    
                    <thead>
                        <tr class="g-alpha"><td colspan="10">Group A</td></tr>
            <tr>
                <td>P</td>
                <td>Team</td>
                <td>P</td>
                <td>W</td>
                <td>D</td>
                <td>L</td>
                <td>GF</td>
                <td>GA</td>
                <td>GD</td>
                <td>Pts</td>
            </tr>
        </thead>
        <tbody class="gbody a">
            <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
             <tr>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
             <tr>
                <td>3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
             <tr>
                <td>4</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
                </table>
                <table  class="table rel">
                    
                    <thead>
                        <tr class="g-alpha"><td colspan="10">Group B</td></tr>
            <tr>
                <td>P</td>
                <td>Team</td>
                <td>P</td>
                <td>W</td>
                <td>D</td>
                <td>L</td>
                <td>GF</td>
                <td>GA</td>
                <td>GD</td>
                <td>Pts</td>
            </tr>
        </thead>
        <tbody class="gbody b">
            <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
             <tr>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
             <tr>
                <td>3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
             <tr>
                <td>4</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
                </table>
            </div>
            <div class="row rel table-row">
                <table  class="table rel">
                   
                    <thead>
                        <tr class="g-alpha"><td colspan="10">Group C</td></tr>
            <tr>
                <td>P</td>
                <td>Team</td>
                <td>P</td>
                <td>W</td>
                <td>D</td>
                <td>L</td>
                <td>GF</td>
                <td>GA</td>
                <td>GD</td>
                <td>Pts</td>
            </tr>
        </thead>
        <tbody class="gbody c">
             <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
             <tr>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
             <tr>
                <td>3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
             <tr>
                <td>4</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
                </table>
                <table  class="table rel">
                    <thead>
                        <tr class="g-alpha"><td colspan="10">Group D</td></tr>
            <tr>
                <td>P</td>
                <td>Team</td>
                <td>P</td>
                <td>W</td>
                <td>D</td>
                <td>L</td>
                <td>GF</td>
                <td>GA</td>
                <td>GD</td>
                <td>Pts</td>
            </tr>
        </thead>
        <tbody class="gbody d">
             <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
             <tr>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
             <tr>
                <td>3</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
             <tr>
                <td>4</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>
                </table>
            </div>
            </div>
            <div align="center" class="rel stage no-shrink ko" id="qf-panel">
                <h1 class="stage-head">Quarter Finals</h1>
                <div align="center" class="draw rel">
                    <div class="home-draw">?</div>
                    <div class="score-board rel">
                        <div class="leg second-leg">
                            <div>A <br/> <span class="sl-away-score">0</span></div>
                            <div>H <br/> <span class="sl-home-score">0</span></div>
                        </div>
                        <div class="aggregate abs margin-auto">
                            <div align="center" class="leg">
                            <div class="fin-home-score">0</div>
                            <div class="fin-away-score">0</div>
                        </div>
                        </div>
                        <div class="leg first-leg abs centered margin-auto">
                            <div class="fl-home-score">0</div>
                            <div class="fl-away-score">0</div>
                        </div>
                    </div>
                    <div class="away-draw">?</div>
                </div>
                <div align="center" class="draw rel">
                    <div class="home-draw">?</div>
                    <div class="score-board rel">
                        <div class="leg second-leg">
                            <div>A <br/> <span class="sl-away-score">0</span></div>
                            <div>H <br/> <span class="sl-home-score">0</span></div>
                        </div>
                        <div class="aggregate abs margin-auto">
                            <div align="center" class="leg">
                            <div class="fin-home-score">0</div>
                            <div class="fin-away-score">0</div>
                        </div>
                        </div>
                        <div class="leg first-leg abs centered margin-auto">
                            <div class="fl-home-score">0</div>
                            <div class="fl-away-score">0</div>
                        </div>
                    </div>
                    <div class="away-draw">?</div>
                </div>
                <div align="center" class="draw rel">
                    <div class="home-draw">?</div>
                    <div class="score-board rel">
                        <div class="leg second-leg">
                            <div>A <br/> <span class="sl-away-score">0</span></div>
                            <div>H <br/> <span class="sl-home-score">0</span></div>
                        </div>
                        <div class="aggregate abs margin-auto">
                            <div align="center" class="leg">
                            <div class="fin-home-score">0</div>
                            <div class="fin-away-score">0</div>
                        </div>
                        </div>
                        <div class="leg first-leg abs centered margin-auto">
                            <div class="fl-home-score">0</div>
                            <div class="fl-away-score">0</div>
                        </div>
                    </div>
                    <div class="away-draw">?</div>
                </div>
                <div align="center" class="draw rel">
                    <div class="home-draw">?</div>
                    <div class="score-board rel">
                        <div class="leg second-leg">
                            <div>A <br/> <span class="sl-away-score">0</span></div>
                            <div>H <br/> <span class="sl-home-score">0</span></div>
                        </div>
                        <div class="aggregate abs margin-auto">
                            <div align="center" class="leg">
                            <div class="fin-home-score">0</div>
                            <div class="fin-away-score">0</div>
                        </div>
                        </div>
                        <div class="leg first-leg abs centered margin-auto">
                            <div class="fl-home-score">0</div>
                            <div class="fl-away-score">0</div>
                        </div>
                    </div>
                    <div class="away-draw">?</div>
                </div>
            </div>
            <div align="center" class="rel stage no-shrink ko" id="sf-panel">
                <h1 class="stage-head">Semi Finals</h1>
                <div align="center" class="draw rel">
                    <div class="home-draw">?</div>
                    <div class="score-board rel">
                        <div class="leg second-leg">
                            <div>A <br/> <span class="sl-away-score">0</span></div>
                            <div>H <br/> <span class="sl-home-score">0</span></div>
                        </div>
                        <div class="aggregate abs margin-auto">
                            <div align="center" class="leg">
                            <div class="fin-home-score">0</div>
                            <div class="fin-away-score">0</div>
                        </div>
                        </div>
                        <div class="leg first-leg abs centered margin-auto">
                            <div class="fl-home-score">0</div>
                            <div class="fl-away-score">0</div>
                        </div>
                    </div>
                    <div class="away-draw">?</div>
                </div>
                <div align="center" class="draw rel">
                    <div class="home-draw">?</div>
                    <div class="score-board rel">
                        <div class="leg second-leg">
                            <div>A <br/> <span class="sl-away-score">0</span></div>
                            <div>H <br/> <span class="sl-home-score">0</span></div>
                        </div>
                        <div class="aggregate abs margin-auto">
                            <div align="center" class="leg">
                            <div class="fin-home-score">0</div>
                            <div class="fin-away-score">0</div>
                        </div>
                        </div>
                        <div class="leg first-leg abs centered margin-auto">
                            <div class="fl-home-score">0</div>
                            <div class="fl-away-score">0</div>
                        </div>
                    </div>
                    <div class="away-draw">?</div>
                </div>
            </div>
            <div align="center" class="rel stage no-shrink ko" id="f-panel">
                <h1 class="stage-head">Final</h1>
                <div align="center" class="coronation">
                    <div class="coronation-head">
                        <div class="coronation-title"><h1>The King</h1></div>
                        <div class="crown"><img id="crown"/></div>
                    </div>
                    <div class="coronation-body"></div>
                </div>
                <div align="center" class="draw rel">
                    <div class="home-draw">?</div>
                    <div class="score-board rel">
                        <div class="leg second-leg">
                            <div> <br/> <span class="sl-away-score">H</span></div>
                            <div> <br/> <span class="sl-home-score">A</span></div>
                        </div>
                        <div class="leg first-leg abs centered margin-auto">
                            <div class="fl-home-score">0</div>
                            <div class="fl-away-score">0</div>
                        </div>
                    </div>
                    <div class="away-draw">?</div>
                </div>
            </div>

        </div>

            </div>
        

    </div>




    </div>
    {{>footer}}

<script src="../js/scl-app.js"></script>
    <script>
             const btn = document.querySelectorAll('.st-btn')
             const container = document.querySelector('.scroller')
             const box = document.querySelector('.stage')
             const ctrl = document.querySelectorAll('.second-leg')
             for(i = 0; i<btn.length; i++) {
                 btn[i].addEventListener("click", (e) => {
                    container.scrollLeft = box.clientWidth * (e.target.id - 1)
                 })
             }
             for (let i = 0; i<ctrl.length; i++) {
             ctrl[i].addEventListener("click", (e) => {
                 let collapser = ctrl[i].nextElementSibling
                 if(collapser.style.maxHeight) {
                     collapser.style.maxHeight = null
                 } else {
                     collapser.style.maxHeight = collapser.scrollHeight + "px"
                 }
             })
             }
    </script>
</body>
</html>