<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
    <meta name="description" content="Supreme Dlo League">
    <meta name="author" content="Benjamin Possible">
    <meta name="keywords" content="Supreme, supreme league, teams, dls teams, supreme league teams, dlo teams, ftg teams, supreme teams, ftg, fun games, Dlo, Dls, League, dream league, soccer, virtual games, games, football, nigerian leagues, nigerian dream league online, online games">
    <meta name="viewport" content="width=device-width, initial-scale=.75"/>
    <title>
        Supreme Teams
    </title>
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <link rel="stylesheet" href="/css/team.css" type="text/css"/>
    {{!-- <link rel="stylesheet" href="/css/scl-style.css" type="text/css"/> --}}
    <link rel="stylesheet" href="/css/lgscreen.css" type="text/css"/>
    <link rel="icon" href="/img/spm-logo.png" type="image/png"/>
    <style>
    
    </style>
</head>

<body>
   {{>header}}
    <div class="body-content">
    <h1 align="center">
        {{title}}
    </h1> 
    <div class="frame rel margin-auto max-width">
                    <div class="circle abs margin-auto centered ">
                            <div class="inner-circle abs margin-auto centered">
                            </div>
                    </div>
                </div>
        <div id="team-pane">
            {{!-- <div class="row">
                <div class="team">
                    <div class="team-logo"><img src="/img/soccer-bg-2.jpeg"/></div>
                    <div class="team-info">
                        <div align="center" class="league-stats">
                            <h3 class="league-stats-header">
                                League Stats
                            </h3>
                            <table class="stats-table rel max-percent">
            <tr>
                <td></td>
                <td>P</td>
                <td>W</td>
                <td>D</td>
                <td>L</td>
                <td>GF</td>
                <td>GA</td>
                <td>GD</td>
                <td>Pts</td>
            </tr>
            <tr>
                <td>Overall</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>Current</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td colspan="4">Trophies</td>
                <td colspan="5">0</td>
            </tr>
                            </table>
                        </div>
                        <hr>
                        <div align="center" class="scl-stats">
                            <h3 class="scl-stats-header">
                                SCL Stats
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="team">
                    <div class="team-logo"><img src="/img/soccer-bg-2.jpeg"/></div>
                    <div class="team-info">
                        <div align="center" class="league-stats">
                            <h3 class="league-stats-header">
                                League Stats
                            </h3>
                        </div>
                        <hr>
                        <div align="center" class="scl-stats">
                            <h3 class="scl-stats-header">
                                SCL Stats
                            </h3>
                        </div>
                    </div>
                </div>
            </div> --}}
            {{!-- testing here --}}
        </div>
            
    </div>


    {{>footer}}
    <script src="/js/teams.js"></script>
</body>
</html>
