<!DOCTYPE html>
<html>
<head>
    <meta name="viewport", content="width=device-width, initial-scale=.75"/>
    <title>
        Supreme Teams
    </title>
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    <link rel="stylesheet" href="/css/team.css" type="text/css"/>
    <link rel="stylesheet" href="/css/lgscreen.css" type="text/css"/>
    <style>
    
    </style>
</head>

<body>
    <div class="body-content">
        {{>header}}
        <div id="team-pane">
            <div class="row">
                <div class="team">
                    <div class="team-logo"><img src="/img/marks.png"/></div>
                    <div class="team-info"></div>
                </div>
                <div class="team">
                    <div class="team-logo"><img src="/img/night walker.png"/></div>
                    <div class="team-info"></div>
                </div>
            </div>
            <div class="row">
                <div class="team">
                    <div class="team-logo"><img src="/img/d professor.png"/></div>
                    <div class="team-info"></div>
                </div>
                <div class="team">
                    <div class="team-logo"><img src="/img/made em.png"/></div>
                    <div class="team-info"></div>
                </div>
            </div>
            <div class="row">
                <div class="team">
                    <div class="team-logo"><img src="/img/Pharm shaddy.png"/></div>
                    <div class="team-info"></div>
                </div>
                <div class="team">
                    <div class="team-logo"><img src="/img/possible.png"/></div>
                    <div class="team-info"></div>
                </div>
            </div>
            <div class="row">
                <div class="team">
                    <div class="team-logo"><img src="/img/nani nig.png"/></div>
                    <div class="team-info"></div>
                </div>
                <div class="team">
                    <div class="team-logo"><img src="/img/smash pro.png"/></div>
                    <div class="team-info"></div>
                </div>
            </div>
            <div class="row">
                <div class="team">
                    <div class="team-logo"><img src="/img/dc lord.png"/></div>
                    <div class="team-info"></div>
                </div>
                <div class="team">
                    <div class="team-logo"><img src="/img/lakowe lakes.png"/></div>
                    <div class="team-info"></div>
                </div>
            </div>
            <div class="row">
                <div class="team">
                    <div class="team-logo"><img src="/img/mancity jk.png"/></div>
                    <div class="team-info"></div>
                </div>
                <div class="team">
                    <div class="team-logo"><img src="/img/netbreaker.png"/></div>
                    <div class="team-info"></div>
                </div>
            </div>
            <div class="row">
                <div class="team">
                    <div class="team-logo"><img src="/img/super strikers.png"/></div>
                    <div class="team-info"></div>
                </div>
                <div class="team">
                    <div class="team-logo"><img src="/img/superstar gallant.png"/></div>
                    <div class="team-info"></div>
                </div>
            </div>
            <div class="row">
                <div class="team">
                    <div class="team-logo"><img src="/img/alaba int market.png"/></div>
                    <div class="team-info"></div>
                </div>
                <div class="team">
                    <div class="team-logo"><img src="/img/king samba.png"/></div>
                    <div class="team-info"></div>
                </div>
            </div>
            <div class="row">
                <div class="team">
                    <div class="team-logo"><img src="/img/t ice.png"/></div>
                    <div class="team-info"></div>
                </div>
                <div class="team">
                    <div class="team-logo"><img src="/img/babynafire.png"/></div>
                    <div class="team-info"></div>
                </div>
            </div>
            <div class="row">
                <div class="team">
                    <div class="team-logo"><img src="/img/inside life.png"/></div>
                    <div class="team-info"></div>
                </div>
                <div class="team">
                    <div class="team-logo"><img src="/img/hadman.png"/></div>
                    <div class="team-info"></div>
                </div>
            </div>
        </div>
            
    </div>

    {{>footer}}
</body>
</html>