<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
    <meta name="description" content="Supreme Dlo League">
    <meta name="author" content="Benjamin Possible">
    <meta name="keywords" content="Supreme, supreme league, teams, dls teams, supreme league teams, dlo teams, ftg teams, supreme teams, ftg, fun games, Dlo, Dls, League, dream league, soccer, virtual games, games, football, nigerian leagues, nigerian dream league online, online games">
    <meta name="viewport" content="width=device-width, initial-scale=.75"/>
    <title>
        Supreme Teams
    </title>
    <link rel="stylesheet" href="/css/main.css" type="text/css"/>
    {{!-- <link rel="stylesheet" href="/css/team.css" type="text/css"/> --}}
    {{!-- <link rel="stylesheet" href="/css/scl-style.css" type="text/css"/> --}}
    {{!-- <link rel="stylesheet" href="/css/lgscreen.css" type="text/css"/> --}}
    <link rel="icon" href="/img/spm-logo.png" type="image/png"/> 
    <style>
      #team-pane {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 10px;
  } 
  .stats-pane {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 0;
  }
  .stats-pane div {
    border: .5px solid rgba(5, 90, 16, .5);
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .team {
    /*width: 500px;*/
    position: relative;
    /* width: 100%; */
    background: linear-gradient(-45deg, rgb(5, 90, 16), rgb(10, 167, 31));
    /* linear-gradient(-45deg, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)); */    
    box-shadow: 0 -4px 1px .5px rgb(1, 2, 17);
    border-radius: 3px;
    margin: auto;
    display: grid;
    grid-template-rows: 1fr 1.2fr; 
  }
  .team-info {
    position: relative;
    width: 100%;
    padding: 5px;
  }
  .hd {
    grid-column: 1 / 10;
    color: rgb(10, 167, 31);
  }
.league-stats,
.scl-stats {
  color: #fff;
  text-shadow: 2px 2px 1px rgb(1, 2, 17);
    /* border: 1px solid #000; */
}
    </style>
</head>

<body>

    <div class="body-content">
    <h1 align="center">
     {{title}}
    </h1> 
        <div id="team-pane">
     {{!-- <div class="row">
                <div class="team">
                    <div class="team-logo"><img src="/img/soccer-bg-2.jpeg"/></div>
                    <div class="team-info">
                        <div align="center" class="league-stats">
                            <h3 class="league-stats-header">
                                League Stats
                            </h3>
                            <table class="stats-table rel max-percent">
            <tr>
                <div></div>
                <div>P</div>
                <div>W</div>
                <div>D</div>
                <div>L</div>
                <div>GF</div>
                <div>GA</div>
                <div>GD</div>
                <div>Pts</div>
            </tr>
            <tr>
                <div>Overall</div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </tr>
            <tr>
                <div>Current</div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </tr>
            <tr>
                <div colspan="4">Trophies</div>
                <div colspan="5">0</div>
            </tr>
                            </table>
                        </div>
                        <hr>
                        <div align="center" class="scl-stats">
                            <h3 class="scl-stats-header">
                                SCL Stats
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="team">
                    <div class="team-logo"><img src="/img/soccer-bg-2.jpeg"/></div>
                    <div class="team-info">
                        <div align="center" class="league-stats">
                            <h3 class="league-stats-header">
                                League Stats
                            </h3>
                        </div>
                        <hr>
                        <div align="center" class="scl-stats">
                            <h3 class="scl-stats-header">
                                SCL Stats
                            </h3>
                        </div>
                    </div>
                </div>
            </div> --}}
             {{!-- testing here --}} 
        </div>
            
    </div>
    {{>footer}}
    <script>
      const teamPane = document.querySelector('#team-pane')
    fetch('http://localhost:3000/test').then((response) => {
        response.json().then((data) => {
            plot(data)
        })
    })


    const plot = (data) => {
    for (i = 0; i < data.length; i++) {
        // const team = data[i]
        //  !== undefined? data[i+1] : supreme
        const team = document.createElement('div')
    team.classList.add('team')
    team.innerHTML = `
    <div class="team-logo"><img src="/team/logo/${data[i].name}"/></div>
    <div class="team-info">
    <div class="stats-pane league-stats">
              <h3 class="hd league-stats-header">
                  League Stats
              </h3>

                <div></div>
                <div>P</div>
                <div>W</div>
                <div>D</div>
                <div>L</div>
                <div>GF</div>
                <div>GA</div>
                <div>GD</div>
                <div>Pts</div>

                <div>Overall</div>
                <div>${data[i].leagueStats.overall.P}</div>
                <div>${data[i].leagueStats.overall.W}</div>
                <div>${data[i].leagueStats.overall.D}</div>
                <div>${data[i].leagueStats.overall.L}</div>
                <div>${data[i].leagueStats.overall.GF}</div>
                <div>${data[i].leagueStats.overall.GA}</div>
                <div>${data[i].leagueStats.overall.GD}</div>
                <div>${data[i].leagueStats.overall.Pts}</div>

                <div>Current</div>
                <div>${data[i].leagueStats.current.P}</div>
                <div>${data[i].leagueStats.current.W}</div>
                <div>${data[i].leagueStats.current.D}</div>
                <div>${data[i].leagueStats.current.L}</div>
                <div>${data[i].leagueStats.current.GF}</div>
                <div>${data[i].leagueStats.current.GA}</div>
                <div>${data[i].leagueStats.current.GD}</div>
                <div>${data[i].leagueStats.current.Pts}</div>

                <div colspan="4">Trophies</div>
                <div colspan="5">${data[i].leagueStats.trophies}</div>
  
                        </div>
                        
                        <div class="stats-pane scl-stats">
                            <h3 class="hd scl-stats-header">
                                SCL Stats
                            </h3>
                                <div></div>
                                <div>P</div>
                                <div>W</div>
                                <div>D</div>
                                <div>L</div>
                                <div>GF</div>
                                <div>GA</div>
                                <div>GD</div>
                                <div>Pts</div>

                                <div>Overall</div>
                                <div>${data[i].sclStats.overall.P}</div>
                                <div>${data[i].sclStats.overall.W}</div>
                                <div>${data[i].sclStats.overall.D}</div>
                                <div>${data[i].sclStats.overall.L}</div>
                                <div>${data[i].sclStats.overall.GF}</div>
                                <div>${data[i].sclStats.overall.GA}</div>
                                <div>${data[i].sclStats.overall.GD}</div>
                                <div>${data[i].sclStats.overall.Pts}</div>
                            
                                <div>Current</div>
                                <div>${data[i].sclStats.current.P}</div>
                                <div>${data[i].sclStats.current.W}</div>
                                <div>${data[i].sclStats.current.D}</div>
                                <div>${data[i].sclStats.current.L}</div>
                                <div>${data[i].sclStats.current.GF}</div>
                                <div>${data[i].sclStats.current.GA}</div>
                                <div>${data[i].sclStats.current.GD}</div>
                                <div>${data[i].sclStats.current.Pts}</div>

                                <div colspan="4">Trophies</div>
                                <div colspan="5">${data[i].sclStats.trophies}</div>
                        </div>
    </div>`
teamPane.append(team)
    }
}
    </script>
</body>
</html>