<header>
    <h1>
        {{title}}
    </h1>

    <a href="/">Home</a>
    <a href="/teams">Teams</a>
    <a href="/league">League</a>
    <a href="/scl">SCL</a>
    <a href="/admin">Admin</a>
</header>
