.league-main-section {
    display: flex;
    overflow-x: scroll;
    height: 100vh;
}
.league-main-section > div {
    flex-shrink: 0;
    width: 100%;
    height: 100vh;
}
.league-main-section::-webkit-scrollbar {
    display: none
}
.coronation-title {
    color: goldenrod    ;
    text-transform: uppercase;
    font-family: serif;
    font-weight: 600;
    text-shadow: .5px .5px 2px #000; 
}