@media screen and (min-width: 600px) {
  .home-tab {
    display: flex;
  }
  .table-tab, .result-tab {
    width: 47%;
  }
  #table {
    height: 100%;
  }
  .lg-format {
    display: flex;
    flex-flow: column;
    width: 100%;
  }
  #first-section {
    display: flex;
  }
  .table {
    margin: 10px auto;
    width: 100% !important;
  }
  .table-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 100%
  }
  .league-main-section > div {
    flex-shrink: 0;
    width: 50%;
    height: 100%;
  }
  .second-section {
    display: flex;
    width: 100%;
  }
  .second-section > div,
  .first-section-pane {
    width: 100%;
  }
  .league-action-section,
  .scl-action-section {
    width: 47% !important;
    flex-shrink: 0;
  }
  .logo-thumb {
    width: 25px !important;
  }
  .league-result-match {
    height: 200px;
  }
  .league-result-pane {
    width: 60%;
  }
  .team-logos {
    width: 120px;
  }
  #auth-form-pane,
  .admin-pane {
    width: 25% !important;
  } 
  .nav-icon {
    display: none
  }
  header {
    display: flex;
  }
  header div {
    width: 30% !important;
  }
  .nav {
    width: 70%;
    max-height: inherit;
    display: flex;
  }
  .nav div {
    display: flex;
    flex-direction: row;
    width: 100% !important;
    height: inherit;
    padding: 0;
    margin-top: 0;
  }
  .nav a {
    margin: 0 auto !important;
  }
}