
#team-pane {
  width: 100%; 
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 10px;
  } 
  .stats-pane {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 0;
  }
  .stats-pane div {
    border: .5px solid rgba(5, 90, 16, .5);
    width: 100%;
    margin: 0;
    text-align: center;
  }
  .team {
    position: relative;
    background: linear-gradient(-45deg, rgb(5, 90, 16), rgb(10, 167, 31));
    box-shadow: 0 -4px 1px .5px rgb(1, 2, 17);
    border-radius: 3px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr; 
    grid-template-rows: .8fr 1.3fr; 
  }
  .team-logo {
    width: 100%;
    height: 100%;
    display: grid;
  }
  .team-logo img {
    position: relative;    
    margin: auto;
    align-self: center;
    width: 60%;
}
  .team-info {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr;
    align-self: end;
  }
.league-stats,
.scl-stats {
  color: #fff;
  text-shadow: 2px 2px 1px rgb(1, 2, 17);
  text-align: center;
    /* border: 1px solid #000; */
}
.hd {
  color: rgb(10, 167, 31);
  grid-column: 1 / 10;
}
.span-col-5 {
  grid-column: 1 / 5;
}
.span-col-6 {
  grid-column: 5 / 10;
}
/* Blob animation loader */
.frame {
  height: 500px;
  /* border: 1px solid #ccc; */
}
.circle,
.inner-circle {
  border-radius: 50%;
}
.circle {
  height: 60px;
  width: 60px;
  background: rgba(255, 255, 255, 0.5);
  animation: blob infinite .4s alternate ease;
}
.inner-circle:hover {
  width: 50%;
  height: 50%;
}
.inner-circle {
  height: 30%;
  width: 30%;
  background: rgb(255, 255, 255);
  animation: blob2 infinite .4s alternate ease;
  /* display: none; */
}
@keyframes blob {
  0% {
      transform: scale(.3)
  }
  100% {
      transform: scale(1)
  }
}
@keyframes blob2 {
  0% {
      transform: scale(3)
  }
  100% {
      transform: scale(0)
  }
}